<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Record output</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">
<div class="container mt-5">
  <div th:each="el : ${info}" class="alert alert-info mt-2">
    <p th:text="${el.info}"/>
  </div>
</div>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>