<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update User </h1>
            <div class = "card-body">
                <form th:action="@{/users/{id} (id=${user.id})}" th:object = "${user}" method="POST">
                    <div class ="form-group">
                        <label> User First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Enter User First Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> User Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                placeholder="Enter User Last Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> User Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter User Email"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-warning">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</main>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>